hr{
  border-top: 1px dotted red;
}

.cards{
  border: solid;  
  text-align: center;
  border: 3px solid black;
}

body {
  border: solid;
  border: 3px solid black;
  background-color: pink;
  text-align:center;}
