img {
  border: 5px solid #555;
}

hr{
  border-top: 2px solid grey;
}

.cards{
  border: solid;  
  text-align: center;
  border: 3px solid black;
  background-color: powderblue;
}

body {
  border: solid;
  border: 3px solid black;
  background-color: light pink;
  text-align: center;}
