body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ecdfdf;
}

.Demo{
    border: solid;  
     text-align: center;
     border: 3px solid green;
}

.RedBorder{
    border: 5px solid #555;

}

.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: lightgrey;
    width: 300px;
    border: 15px solid black;
    padding: 50px;
}

.card{
     background-color: lightgrey;
     text-align: center;
     margin-left: auto;
    margin-right: auto;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
}
